doctype html

html
  head
    title #{title}

    base(href='/')
    
    meta(name='description'
      content='#{content}')

    meta(charset="UTF-8")

    meta(name='viewport'
      content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')

    link(rel='canonical'
      href='http://www.scudregistry.org')

    link(rel='stylesheet' type='text/css'
      href='/stylesheets/css/bootstrap.css')

    script(type='text/javascript'
      src='/angular/libs.js')

    script(type='text/javascript'
      src='/angular/app.js')

    //- script(type='text/javascript'
      src='/angular/templates.js')

    block head

  body(ng-app='SCUDApp' lang='en' ng-strict-di)
    block body
