head
  title SCUD Login Page

body
  h1 SCUD Login
  form(name="login" action="/api/competitors/login" method="post")
    input(
      placeholder="Email"
      name="email"
      type="email"
      )
    input(
      placeholder="Password"
      name="password"
      type="password"
      )
    button(type="submit") Login
