h1 SCUD Login
h2 {{login.test}}
form(name="login" action="/login" method="post")
  input(
    placeholder="Email"
    name="email"
    type="email"
    )
  input(
    placeholder="Password"
    name="password"
    type="password"
    )
  button(type="submit") Login
